*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}

a.shop-btn {
  color: #fff;
  background-color: #c83548!important;
  padding: 12px 44px 12px 44px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
}

a{
  text-decoration: none;
  color: black;
}
/* HEADER PART START */
.top-menu{
  background-color: black;
  padding-top: 11px;
}
.top-menu .free {
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  float: left;
}
.right-menu li a{
  color: white;
  font-size: 12px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}
ul.right-menu {
  float: right;
}
.carousel-indicators [data-bs-target] {
  background-color: transparent;
  border: 2px solid white;
  opacity: 1;
}
.carousel-indicators .active {
  opacity: 1;
  background: white!important;
}
.right-menu li {
  display: inline;
}
.navbar-light .navbar-nav .nav-item {
  margin-right: 12px;
  transition: all .3s ease-in-out;
}
.navbar-light .navbar-nav .nav-item a {
  color: black;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  transition: .3s;
  margin: 0 13px;
}
.navbar-light .navbar-nav .nav-item:hover a {
  color: #c83548;
}
i#searchimg {
  padding: 11px 9px 0px 0px;
}

.navbar-nav{margin-left: auto;}
.navbar-nav .nav-item {
  position: relative;
}

.bag{
  position: relative;
  margin: 3px 0px 0px 10px;
}
.circle{
  position: absolute;
  top: -5px;
  left: 9px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background-color: #c83548;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.background-image{
  background-image: url("../images/fashion.jpg"); 
 width: 100%; 
 height: 337px;
  background-repeat: no-repeat; 
  background-size: cover; 
}
.second{
  background-image: url("../images/elise-Home-fashion.jpg"); 
 width: 100%; 
background-position: center;
  background-repeat: no-repeat; 
  background-size: cover; 
}
.carousel-indicators [data-bs-target] {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
.carousel-control-next-icon {
    background-image: url("https://i.ibb.co/Cs9xLrt/Polygon-1.png");
}
.carousel-control-prev-icon {
  background-image: url("https://i.ibb.co/Ks651Xq/Polygon-1.png");
}
.navbar-nav .nav-item::after
{
position: absolute;
content:'';
bottom: 0;
left: 0;
right: 0;
background-color: #c83548;
width: 0%;
height: 2px;
transition: 1s;
}
.navbar-nav .nav-item:hover::after
{
width: 100%;
}
.fashion{
  animation: fashion 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
  font-size: 72px;
  font-weight: 400;
}
@keyframes fashion{
  from{
    opacity: 0;
    transform: translatex(-20px);
  }
  to{
    opacity: 1;
    transform: translatex(0);
  }
}
.up{
  animation: up 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
  font-size: 24px;
}
@keyframes up{
  from{
    opacity: 0;
    transform: translatex(20px);
  }
  to{
    opacity: 1;
    transform: translatex(0);
  }
}
.purchase-btn{
  background-color: #c83548;
  padding: 10px 43px;
  color: white;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
  
}
.purchase-btn:hover{
  color: white;
}
.see-btn{
  background-color: transparent;
  padding: 10px 43px;
  color: white;
  border: 1px solid white;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Ubuntu', sans-serif;
}
.see-btn:hover{
  color: white;
}
.purchase1{
  animation: anim 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
  color: white;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}
.purchase2{
  animation: anim2 0.5s ease-in-out forwards;
  animation-delay: 0.6s;
  opacity: 0;
  color: white;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}
@keyframes anim{
  from{
    opacity: 0;
    transform: translatex(-15px);
  }
  to{
    opacity: 1;
    transform: translatex(0);
  }
}
@keyframes anim2{
  from{
    opacity: 0;
    transform: translatex(15px);
  }
  to{
    opacity: 1;
    transform: translatex(0);
  }
}
/* HEADER PART END  */

.car-1.owl-theme .owl-dots .owl-dot span {
  background: transparent!important;
  border: 2px solid white!important;
}
.car-1.owl-theme .owl-dots .owl-dot.active span {
background-color: white!important;
}
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #c83548!important;
    color: #FFF;
    text-decoration: none;
}
.our-brand{
    background: black;
    min-height: 400px;
}
.brand{
  color: white!important; 
  padding-top: 12px;
  font-family: 'Poppins', sans-serif;
  font-size: 30px;
  font-weight: 400;
}
hr{
  width: 5%;
  background-color: black!important;
  opacity: 1;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
  padding-top: 22px;
}
.white{
  background-color: white!important;
  opacity: 1;
  width: 5%;
  margin: auto;
}
.form-control{
  width: 100%;
  color: #212529;
  background-color: transparent;
  border: 1px solid #ced4da;
  border-radius: 0;
}
section.slider-part {
  background: black;
}
.form-control:focus {
  color: #212529;
  background-color: transparent;
  border: 1px solid #86b7fe!important;
  outline: 0;
  box-shadow: none;
}
.error{
  color: red;
}
.bottom-menu-a{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #272727;
}
.copyright{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 13px;
  color: #999999;
}
  .footer-bottom-menu li a:hover{
    color: #d27a86;
    transition: all .3s;
  }
  .elise-h2{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 48px;
    color: #272727;
  }
  .do-p{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
  }
  .right-text{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: #666666;
    padding-right: 10px;
  }
  .card:hover .card-sub{
      color: #c83548;
      transition: all .4s;
  }
  section.blog {
    padding: 44px 0px 102px;
}
.blog-content {
  padding-top: 23px;
}
.subscribe {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #272727;
  padding: 8px 0px 15px 0px;
}
.card-feb{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #bcbcbc;
}
.sign-p{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #666666;;
}
.card-sub{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #333333;
}
.card {
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 0; 
}
section.footer {
  padding: 75px 0px;
  background-color: rgb(244, 244, 244);
}
.address{
  margin-left: 10px;
}
h6.shopping {
  padding: 8px 0px 12px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #272727;
}
.shopping-menu li{
  margin-bottom: 6px;
}
.shopping-menu li a{
  margin-bottom: 6px;
  font-family: 'Poppins', sans-serif;
  font-size: 14px;
  font-weight: 400;
  color: #272727;
}
h6.my {
  padding: 8px 0px 11px 0px;
  font-family: 'Poppins', sans-serif;
  font-size: 18px;
  font-weight: 400;
  color: #272727;
}
::placeholder {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 14px;
  color: #333333;
}
.search-box{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 4px;
}
.search-text{
  width: 300px;
  padding: 10px;
  border:none;
  outline: none;
  transition: 3s!important;
  display: none;
}
.search-btn{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: transparent;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  right: 0px; 
}
.search-box:hover .search-text{
  display: block;
}
#showing{
  display: none;
  opacity: 0;
  transition: all .9s ease-in-out!important;
}
#searchimg{
  cursor: pointer;
}
#showing.active{
  display: block;
  opacity: 1;
}
.car-1 .owl-nav {
  display: none;
}
.owl-theme .owl-nav.disabled + .owl-dots {
  margin-top: 71px;
}
.shopping-menu li a:hover{
  color: #c83548;
  transition: all .5s ease-in-out;
}


@media (min-width: 768px) and (max-width: 991.98px) 
    { 
        .search-btn {
        right: 210px!important;
        }
        .ms-auto {
            justify-content: center;
        }
        .carousel-caption {
          top: 27%!important;
      }
      .navbar-nav .nav-item:hover::after
        {
        width: 0%;
        }     
        .navbar-light .navbar-nav .nav-item:hover {
          background-color: #c83548;
        }   
        .navbar-light .navbar-nav .nav-item:hover a {
          color: white;
        }
        span{
          font-size: 10px;
        }
        .up {
          font-size: 18px;
      }  
      .fashion {
        font-size: 52px;
    }
    .purchase-btn {
      padding: 10px 24px;
  }
  .see-btn {
    padding: 10px 24px;
}
.carousel-indicators {
  top: 73%!important;
}
.header-h3 {
  font-size: 25px!important;
}
    }
@media (min-width: 575.98px) and (max-width: 767.98px) 
  {
      .padding-bt{
        padding-bottom: 5px;
      }
    .carousel-indicators {
      top: 84%;
  }
  span.Address {
    font-size: 10px;
}
  .subscribe-section{

  }
button.owl-prev {
  top: 28%;
}
button.owl-next {
  top: 28%;
}
ul.right-menu {
  float: left;
}
.carousel-caption {
  top: 22%!important;
}
.fashion {
 font-size: 40px;
}
.navbar-nav .nav-item:hover::after
        {
        width: 0%;
        } 
        .d-flex {
          justify-content: center;
      }
      .navbar-light .navbar-nav .nav-item:hover {
        background-color: #c83548;
      }   
      .navbar-light .navbar-nav .nav-item:hover a {
        color: white;
      }
      .up {
        font-size: 14px;
    }
    .fashion {
      font-size: 34px;
  }
  .purchase-btn {
    padding: 10px 17px;
}
.see-btn {
  padding: 10px 17px;
}
.card {
  margin: 8px 0px;
}

  }
@media (min-width: 350.98px) and (max-width: 575.98px) 
{
  .padding-bt{
    padding-bottom: 5px;
  }
  .form-control {
    width: 66%;
}
  .carousel-caption {
    top: 23%!important;
}
h6.shopping {
  padding-top: 18px;
}
h5.fashion {
  font-size: 20px;
}
p.up {
  font-size: 8px!important;
}
.carousel-indicators {
  top: 84%;
}
.card {
  margin: 8px 0px;
}
button.owl-prev {
  top: 44%!important;
}
button.owl-next {
  top: 44%!important;
}
.owl-carousel .owl-item img {
  display: block;
  margin: auto;
}
ul.right-menu {
  float: left;
}
.purchase-btn {
  font-size: 7px;
  padding: 10px 14px;
}
.see-btn {
  font-size: 7px;
  padding: 10px 14px;
}
.carousel-indicators {
  top: 85%!important;
}
.season-h1 {
  font-size: 44px!important;
}
.navbar-nav .nav-item:hover::after
        {
        width: 0%;
        }  
        span{
          font-size: 14px;
        }  
        .bottom-menu-a {
          font-size: 10px;
      }
      .d-flex {
        justify-content: center;
    }
    .navbar-light .navbar-nav .nav-item:hover {
      background-color: #c83548;
    }   
    .navbar-light .navbar-nav .nav-item:hover a {
      color: white;
    }
}
.header-from{
  color: #333333; 
  font-weight: 400;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}

/* SPRING SALE */
section.spring-sale {
  padding: 35px 0px;
}
.back-image{
  background-image: url(../images/Capture55_cleanup.PNG);
  background-repeat: no-repeat;
  background-size: 100% 100%;
 min-height: 337px;
 position: relative;
}
.back-image-content{
  position: absolute; 
  top: 100px; 
  right: 60px;
  transition: all 0.2s;
}
.top-p{
  text-transform: capitalize;
  text-align:right;
  font-size: 14px;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
  margin: 0;
}
.header-h3{
  font-size: 40px; 
  font-weight: bold; 
  text-transform:uppercase;
  text-align:right;
  font-family: 'Poppins', sans-serif;
}
.price{
  text-align:right;
  font-size: 14px;
  font-family: 'Ubuntu', sans-serif;
}
/* TREANDING ITEMS */
section.slider {
  padding: 10px 0px 50px 0px;
}
h2.tranding-h2.text-center {
  color: #333333; 
  font-weight: 400;
  font-size: 30px;
  font-family: 'Poppins', sans-serif;
}
.owl-carousel.owl-theme.owl-loaded.owl-drag {
  padding-top: 34px;
}
.quick-btn{
  font-size: 12px;
  font-weight: 400;
  color: white;
  font-family: 'Ubuntu', sans-serif;
}
.quick-btn:hover{
  color: white;
}
.carousel-caption {
  position: absolute;
  right:  0;
  bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  color: #fff;
  text-align: center;
  left: 0%;
  top: 47%;
 
}
button.owl-next {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 32%;
  background-color: #999999!important;
  border-radius: 0!important;
}
.owl-theme .owl-dots .owl-dot span {
  background: transparent;
  border: 2px solid #c83548;

}
button.owl-next span{
  color: white;
}
.owl-theme .owl-dots .owl-dot.active span {
    background: #c83548!important;
    border: 0!important;
}

.carousel-indicators {
  position: absolute;
  top: 91%;
  left: 1%;
}
button.owl-prev {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 0;
  top: 32%;
  background-color: #999999!important;
  border-radius: 0!important;
}
button.owl-prev span {
  color: white;
}
.imgs{
  position: relative;
  overflow: hidden;
 }
.imgs img{
  width: 100%;
  height: 100%;
}
.quick-content{
  position: absolute;
  left: 0;
  bottom: -6%;
  width: 100%;
  height: 0;
  background-color: #d27a86;
  transition: all .3s ease-in-out;
  display: flex;
  justify-content: center;
  align-items: center;  
}
.love-icon{
  position: absolute;
  width: 34px;
  height: 34px;
  border-radius: 50%;
  top: 12px;
  right: 12px!important;
  background-color: #d27a86;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: all .3s ease-in-out;
}
.belted {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  padding-top: 9px;
}
.dollar{
  font-family: 'Ubuntu', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #c83548;
}
.imgs:hover .love-icon{
  opacity: 1;
}
.imgs:hover .quick-content{
height: 15%;
bottom: 0;
}
i.fa.fa-star {
  color: #ffc861;
}

/* END OF SEASON */
.end-of-season {
  background-image: url(../images/Home-fashion.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  height: 400px;
}
.season-p{
  color: white;
  font-family: 'Poppins', sans-serif;
  font-size: 24px;
  font-weight: 400;
}
.season-h1 {
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 72px;
  font-weight: 400;
  margin-bottom: 36px;
}